extend ./skeleton.jade

block content
	div.container
		div.panel.panel-default
			div.panel-heading
				| Change password
			div.panel-body
				form.form-horizontal(method="POST", action="/changePassword")
					if messages.length > 0
						if messages[0] == "error"
							div.form-group.text-center
								label.alert.alert-warning #{messages[1]}
						else 
							div.form-group.text-center
								label.alert.alert-success #{messages[0]}
					div.form-group
						label.col-sm-4.control-label Old password
						div.col-sm-7
							input.form-control(type="password", name="oldPassword", required, autofocus)
					div.form-group
						label.col-sm-4.control-label New password
						div.col-sm-7
							input.form-control(type="password", name="newPassword", required)
					div.form-group
						label.col-sm-4.control-label Confirm new password
						div.col-sm-7
							input.form-control(type="password", name="confirmPassword", required)
							input.form-control(type="hidden", value="")
					div.col-md-2.col-md-offset-4
						button.btn.btn-success.btn-block Update password


										


