extend ./skeleton.jade

block content
	div.container
		div.panel.panel-default
			div-panel-heading
				h4
					| Settings
			div.panel-body
					form.form-horizontal
							div-form-group
									a.btn.btn-primary.btn-lg.btn-block(role="button", href="/changePassword")
										| Change Password
										


