extend ./skeleton.jade

block content
    div.container
        div.row
            div.text-center.col-md-6.col-md-offset-3
                h2 Ekceltricity In Your Hands
                p Friends living together often split everything equally, but it is more fair to pay for what you use.
                a.btn.btn-success.btn-lg.btn-block(href="/signup")
                    | Sign Up for free
                p Ekceltricity helps individuals and households collect and monitor their energy usage. With our data depiction features, our users can understand which of their appliances use the most energy and they can make informed decisions about changing their usage patterns to conserve or adjust their energy consumption. 
                a.btn.btn-default.btn-lg.btn-block(role="button", href="/login")
                    | Log in
                

