extend ./skeleton.jade

block content
	div.row
		div.col-md-5.col-md-offset-4
			div.panel.panel-default
				div.panel-heading.text-center
					| Ekceltricity In Your Hands
				div.panel-body
					p djoadjsajdffdasfdsfa dsfadsfasdfadsfd sdwdewdewde wdwedewdewde wdewdwenelvnjkernverkvnerwlkvjnewrlkjvnerjvnew;rwer jfrejfklerjfwlkjfreklwjfk erjf;lkrejgfklrwjgkjflds ajf;ldnflken;fjnkdalfd;klaf jlejfkjdlfkdjs fjkjfdlksjf kldjflkjda l;fjadlkfjeijfo iejfijao;dsjfajvinfje
					div.container
						div.row
							div.col-lg-4.col-lg-offset-1
								a.btn.btn-primary.btn-lg.btn-block(role="button", href="/sign-in")
									| Sign In
				hr
				div.panel-body
					p djoadjsajdffdasfdsfa dsfadsfasdfadsfd sdwdewdewde wdwedewdewde wdewdwenelvnjkernverkvnerwlkvjnewrlkjvnerjvnew;rwer jfrejfklerjfwlkjfreklwjfk erjf;lkrejgfklrwjgkjflds ajf;ldnflken;fjnkdalfd;klaf jlejfkjdlfkdjs fjkjfdlksjf kldjflkjda l;fjadlkfjeijfo iejfijao;dsjfajvinfje 
						a(href="/sign-up")
							| Sign Up for free
				//- div.panel-footer
				//- 	div.container
				//- 		div.row
				//- 			div.col-lg-4.col-lg-offset-1
				//- 				a.btn.btn-primary.btn-lg.btn-block(role="button", href="/sign-in")
				//- 					| Sign Up
