<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
      <link href="css/chartjs.css" rel="stylesheet" type="text/css" />   
    <title>Ekceltricity</title>
  </head>
  <body>
  <!-- Nav -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">ekceltricity</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html">My Households</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="setting.html">Settings</a></li>
          <li><a href="welcome.html">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h4 style="display:inline"><a href="breakdown.html">College Household</a></h4><h4 style="display:inline"> \ Sabit's Appliances</h4>
        <hr>
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              Control your appliances
            </div>
            <div class="panel-body">
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group"><button type="button" class="btn btn-success">Add Appliance</button></div>
                <div class="btn-group" role="group"><button type="button" class="btn btn-primary">Edit</button></div>
              </div>
              <div class="clearfix"></div>
              <hr>
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="" class="col-xs-5 control-label">Laptop charger</label>
                  <div class="col-xs-7">
                    <input type="checkbox" class="form-control tracking" id="" checked>
                    <span id="helpBlock" class="help-block">$5.43 this month</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-xs-5 control-label">Lamp</label>
                  <div class="col-xs-7">
                    <input type="checkbox" class="form-control tracking" id="" checked>
                    <span id="helpBlock" class="help-block">$0.26 this month</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-xs-5 control-label">Phone charger</label>
                  <div class="col-xs-7">
                    <input type="checkbox" class="form-control tracking" id="" checked>
                    <span id="helpBlock" class="help-block">$1.98 this month</span>
                  </div>
                </div>              
                <div class="form-group">
                  <label for="" class="col-xs-5 control-label">A/C</label>
                  <div class="col-xs-7">
                    <input type="checkbox" class="form-control tracking" id="">
                    <span id="helpBlock" class="help-block">$8.26 this month</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-xs-5 control-label">Fan</label>
                  <div class="col-xs-7">
                    <input type="checkbox" class="form-control tracking" id="">
                    <span id="helpBlock" class="help-block">$1.26 this month</span>
                  </div>
                </div>
              </form>
            </div>
            <div class="panel-footer">
              <div class="center-block" style="text-align:center">
                <a href="#" class="toggle-appliance" data-state="shown">Hide appliances <span class="glyphicon glyphicon-chevron-up"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>

        <h3>Appliance Usage</h3>
        <div class="col-md-10 col-md-offset-1"><canvas id="applianceChart" max-height="600"></canvas></div>
        <div class="clearfix"></div>
        <hr>

        <h3>Daily Usage</h3>
        <div class="col-md-10 col-md-offset-1"><canvas id="dailyChart" max-height="600"></canvas></div>

      </div>
      
    </div>
  </div>

  <!-- Footer -->
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4" style="text-align:center;color:#888">(C) 2016 Ekceltricity</div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="js/bootstrap-switch.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <script src="js/chart-config.js"></script>
  <script>
    var pieData = [
        {
            value: 15,
            color:"#F7464A",
            highlight: "#FF5A5E",
            label: "Laptop Charger"
        },
        {
            value: 5,
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: "Lamp"
        },
        {
            value: 5,
            color: "#FDB45C",
            highlight: "#FFC870",
            label: "Phone Charger"
        },
        {
            value: 40,
            color: "#949FB1",
            highlight: "#A8B3C5",
            label: "A/C"
        },
        {
            value: 15,
            color: "#4D5360",
            highlight: "#616774",
            label: "Fan"
        }

    ];

    var barData = {
      labels: ["1/1", "1/2", "1/3", "1/4", "1/5", "1/6", "1/7"],
      datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data: [0, 20, 30, 40, 45, 35, 42]
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,0.8)",
                highlightFill: "rgba(151,187,205,0.75)",
                highlightStroke: "rgba(151,187,205,1)",
                data: [0, 0, 5, 10, 15, 9, 7]
            }
        ]
    };
    $(document).ready(function() {
      $(".tracking").bootstrapSwitch();
      
      $(".toggle-appliance").click(function(evt) {
        evt.preventDefault();
        var text = '';
        var state = $(this).data("state");
        if (state === "hidden") {
          text = 'Hide appliances <span class="glyphicon glyphicon-chevron-up"></span>';
          $(this).data("state", "shown");
        } else {
          text = 'Show appliances <span class="glyphicon glyphicon-chevron-down"></span>';
          $(this).data("state", "hidden");
        }
        $(this).html(text);
        $(this).parents(".panel").find(".panel-body").slideToggle();
      });

      // Get context with jQuery - using jQuery's .get() method.
      var ctx = $("#applianceChart").get(0).getContext("2d");
      // This will get the first returned node in the jQuery collection.
      var myNewChart = new Chart(ctx).Pie(pieData, {
        //String - A legend template
        legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"

      });
      $("#applianceChart").after(myNewChart.generateLegend());

      // Get context with jQuery - using jQuery's .get() method.
      var ctx = $("#dailyChart").get(0).getContext("2d");
      // This will get the first returned node in the jQuery collection.
      var myNewChart = new Chart(ctx).Bar(barData, {
        //String - A legend template
        legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"

      });
      $("#dailyChart").after(myNewChart.generateLegend());

    });
  </script>
</body>
</html>